:root {
	/* Colores del sistema proporcionados por el cliente */
	--brand-primary: #d63715; /* rojo/primario */
	--brand-accent: #fb9b0e; /* naranja/acento */
	--brand-dark: #084a1e; /* verde/oscuro */

	/* Compuestos y utilidades */
	--bg-muted: #f8fafb;
	--text-muted: #6b7280;
}



@import "tailwindcss";
@plugin "daisyui";